body {
  background: #fff8f0;
}
.contact-page {
  background-color: #f7f2f2;
  padding: 70px 20px;
  font-family: "Segoe UI", sans-serif;
}
.contact-header {
  text-align: center;
  margin-bottom: 50px;
}

.contact-header h2 {
  font-size: 34px;
  color: #4b1e1e;
  margin-bottom: 10px;
}

.contact-header p {
  max-width: 600px;
  margin: auto;
  color: #555;
  font-size: 16px;
  padding: 5px;
  word-spacing: 0.1em;
  letter-spacing: 1px;
}
.contact-con {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.contact-details {
  padding-left: 30px;
  background-color: #f7f2f2;
  padding: 35px;
  border-radius: 14px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
}
.contact-details {
  max-width: 500px;
}
.contact-form {
  max-width: 400px;
}

.contact-details h3 {
  color: #4b1e1e;
  margin-bottom: 20px;
}

.contact-details p {
  margin-bottom: 18px;
  font-size: 15px;
  color: #333;
  padding: 10px;
}
.contact-form {
  background-color: #f7f2f2;
  padding: 35px;
  border-radius: 14px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
}

.contact-form h3 {
  color: #4b1e1e;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: gold;
}

.contact-form button {
  width: 100%;
  background-color: #4b1e1e;
  color: gold;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.contact-form button:hover {
  background-color: #3a1616d7;
}
