* {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #ff6f00, #ff8f00);
  font-size: 26px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
input[type="search"] {
  width: 500px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  background: #333;
  border: 2px solid #3f3f3f;
  color: rgb(255, 255, 255, 0.95);
}
input[type="search"]:focus {
  border-color: #f5cd06;
  outline: none;
}

header nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  margin-left: 10px;
  color: #ffffff;
  font-weight: 500;
}

.signup:hover {
  background-color: rgb(240, 174, 7);
}

main,
footer {
  width: 100%;
  padding-left: 20px;
  padding-top: 50px;
}

.container {
  width: 1300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.signup {
  background-color: goldenrod;
  color: black;
  font-size: 20px;
  padding: 20px;
  margin-right: 30px;
  border: none;
  border-radius: 5px;
}
.breakfast-container {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}
.text {
  text-align: center;
  color: darkolivegreen;
}

h1 {
  color: crimson;
}
footer {
  padding-top: 10px;
  bottom: 0;
  background-color: black;
  color: white;
  height: 80px;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  font-size: 20px;
}
.logo {
  padding-right: 22px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.text a h3:hover {
  text-decoration: solid black;
}
html {
  scroll-behavior: smooth;
}

nav ul li a {
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 4px;
  background: rgb(255, 255, 255, 0.85);
  border-radius: 5px;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.3s;
}

nav ul li a:hover::after {
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
  width: 100%;
}

.breakfast:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

.breakfast .text {
  text-align: center;
  padding: 10px 0;
}
h1 {
  margin-left: 20px;
}

.breakfast h3 {
  margin: 8px 0 0;
  color: #333;
  font-size: 18px;
}
.breakfast img {
  width: 200px;
  height: 180px;
  border-radius: 12px;
}
body {
  background: #f2f2f2;
}
.breakfast {
  background: #fafafa;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
}
.about {
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
}
.about h2 {
  margin-bottom: 5px;
  color: crimson;
}
.about p {
  color: gray;
}
