* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #fffaf4;
  color: #333;
}

header {
  background-color: #4b1e1e;
  padding: 15px 40px;
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: gold;
  font-size: 26px;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
}

nav a:hover {
  color: gold;
}

.container {
  padding: 60px;
}

h1 {
  margin-bottom: 20px;
  color: #4b1e1e;
}

.btn {
  padding: 12px 25px;
  background-color: #4b1e1e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #6a2b2b;
}

.gallery img {
  width: 250px;
  margin: 10px;
  border-radius: 10px;
}
