<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #fff8f0;
}
header {
  background-color: #4b1e1e;
  padding: 15px 40px;
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}
.logo img {
  font-size: 10px;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.logo span {
  color: gold;
  font-size: 26px;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
  font-size: 18px;
}

nav a:hover {
  color: gold;
}

.container span {
  font-size: 40px;
}
.container p {
  padding: 20px;
  font-size: 20px;
  line-height: 1.4;
  font-family: "Georgia", "Times New Roman", serif;
  max-width: 700px;
}
.container blockquote {
  font-size: 25px;
  color: #8b4513;
  background-color: #fff3e0;
  padding: 10px 15px;
  margin-right: 180px;
  font-style: italic;
  border-radius: 5px;
  max-width: 500px;
}

.container h1 {
  font-size: 35px;
  margin-bottom: 10px;
  color: #ec0505b6;
  max-width: 500px;
  display: inline-block;
  margin-right: 60px;
}

.btn {
  padding: 12px 25px;
  background-color: #ca1515;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  margin: auto;
}
.btn {
  text-transform: capitalize;
  letter-spacing: 1px;
  transition: 0.3s ease;
}
.o-btn {
  margin: auto;
  display: block;
}

.btn:hover {
  background-color: #ee3333;
}

.gallery img {
  width: 250px;
  margin: 10px;
  border-radius: 10px;
}
main {
  margin-top: 20px;
}
.container {
  background-image: url("bg.jpg");
  width: 100%;
  max-width: 1300px;
  min-height: 300px;
  margin: auto;
  padding: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.dishes {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.dish {
  background-color: white;
  width: 250px;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #eee;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  text-align: center;
}
.dish h3 {
  color: #4b1e1e;
  font-size: 25px;
}
.dish:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}
.featured h2 {
  text-align: center;
  margin-top: 10px;
  font-size: 32px;
  color: #c9a227;
  margin-bottom: 30px;
}
.dish img {
  width: 100%;
  object-fit: cover;
  height: 180px;
  border-radius: 12px;
}
.dish h3 {
  margin-top: 12px;
  text-align: center;
  color: #4b1e1e;
  font-size: 20px;
}
.dish p {
  text-align: center;
  color: #332e2e;
  font-size: 14px;
  margin-top: 5px;
}
.featured {
  background: rgb(192, 184, 184);
  padding: 50px 20px;
  border-radius: 20px;
  margin: 40px auto;
  max-width: 1300px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}
.about h2 {
  color: #c9a227;
  font-size: 32px;
  margin-bottom: 20px;
}
.about {
  background-color: #fffaf4;
  padding: 50px 20px;
  text-align: center;
}
.about p {
  margin: auto;
  font-size: 18px;
  color: #0f0f0fee;
  font-family: "Georgia", serif;
  line-height: 1.6;
  padding: 20px;
  word-spacing: 0.2em;
  letter-spacing: 0.1em;
}
.icon {
  font-size: 40px;
  margin-bottom: 10px;
}
.review-con {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.review {
  max-width: 300px;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.review:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

.review h4 {
  margin-left: 20px;
  color: #4b1e1e;
  font-style: normal;
}
.review p {
  color: #555;
  margin-bottom: 10px;
  font-style: italic;
  padding: 5px;
}
.stars {
  font-size: 22px;
  color: gold;
  margin-bottom: 10px;
}
.reserve-btn {
  display: inline-block;
  padding: 15px 35px;
  background: rgba(245, 16, 47);
  color: #d3c9cc;
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
  font-size: 20px;
}
.reserve {
  text-align: center;
}
.reserve h2 {
  color: #c9a227;
  margin-bottom: 30px;
  font-size: 32px;
}
.reserve p {
  font-size: 18px;
  padding: 5px;
  font-family: "Georgia", "Times New Roman", serif;
  word-spacing: 0.1em;
  margin-bottom: 20px;
  color: #332828;
}

.reserve-btn:hover {
  background: rgb(206, 24, 48);
}
.footer {
  margin-top: 30px;
  background-color: #2b0f0f;
  color: #f5d38a;
  padding: 40px 20px 20px;
  font-family: Arial, sans-serif;
  bottom: 0;
}

.footer-con {
  display: flex;
  gap: 40px;
  max-width: 1300px;
  margin: auto;
}

.footers h3,
.footers h4 {
  margin-bottom: 12px;
  color: #ffd700;
  font-size: 19px;
}

.footers p {
  font-size: 15px;
  padding: 5px;
  margin-left: 10px;
}

.footers ul {
  list-style: none;
  padding: 0;
}

.footers ul li {
  margin-bottom: 8px;
}

.footers ul li a {
  color: #f5d38a;
  text-decoration: none;
  transition: color 0.3s;
}

.footers ul li a:hover {
  color: #ffffff;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 15px;
  font-size: 14px;
}
.rating {
  font-size: 15px;
  color: #f4b400;
  margin-bottom: 6px;
}

.rating span {
  color: #555;
  font-size: 15px;
}
.dish .price {
  font-size: 23px;
  margin-bottom: 8px;
}

.dish del {
  color: #888;
  font-size: 16px;
  margin-left: 6px;
}

.dish strong {
  color: #fd8803;
  font-size: 18px;
  margin-left: 6px;
  font-weight: bold;
  border-radius: 15px;
  border: 1px solid #555;
  padding: 5px;
}

.order-btn {
  background-color: #200a0a;
  color: gold;
  border: none;
  padding: 15px 25px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  display: block;
  margin: auto;
}

.order-btn:hover {
  background-color: #4b1e1e;
}
.dish .price {
  margin-top: 16px;
}
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #fff8f0;
}
header {
  background-color: #4b1e1e;
  padding: 15px 40px;
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}
.logo img {
  font-size: 10px;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.logo span {
  color: gold;
  font-size: 26px;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
  font-size: 18px;
}

nav a:hover {
  color: gold;
}

.container span {
  font-size: 40px;
}
.container p {
  padding: 20px;
  font-size: 20px;
  line-height: 1.4;
  font-family: "Georgia", "Times New Roman", serif;
  max-width: 700px;
}
.container blockquote {
  font-size: 25px;
  color: #8b4513;
  background-color: #fff3e0;
  padding: 10px 15px;
  margin-right: 180px;
  font-style: italic;
  border-radius: 5px;
  max-width: 500px;
}

.container h1 {
  font-size: 35px;
  margin-bottom: 10px;
  color: #ec0505b6;
  max-width: 500px;
  display: inline-block;
  margin-right: 60px;
}

.btn {
  padding: 12px 25px;
  background-color: #ca1515;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  margin: auto;
}
.btn {
  text-transform: capitalize;
  letter-spacing: 1px;
  transition: 0.3s ease;
}
.o-btn {
  margin: auto;
  display: block;
}

.btn:hover {
  background-color: #ee3333;
}

.gallery img {
  width: 250px;
  margin: 10px;
  border-radius: 10px;
}
main {
  margin-top: 20px;
}
.container {
  background-image: url("bg.jpg");
  width: 100%;
  max-width: 1300px;
  min-height: 300px;
  margin: auto;
  padding: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.dishes {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.dish {
  background-color: white;
  width: 250px;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #eee;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  text-align: center;
}
.dish h3 {
  color: #4b1e1e;
  font-size: 25px;
}
.dish:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}
.featured h2 {
  text-align: center;
  margin-top: 10px;
  font-size: 32px;
  color: #c9a227;
  margin-bottom: 30px;
}
.dish img {
  width: 100%;
  object-fit: cover;
  height: 180px;
  border-radius: 12px;
}
.dish h3 {
  margin-top: 12px;
  text-align: center;
  color: #4b1e1e;
  font-size: 20px;
}
.dish p {
  text-align: center;
  color: #332e2e;
  font-size: 14px;
  margin-top: 5px;
}
.featured {
  background: rgb(192, 184, 184);
  padding: 50px 20px;
  border-radius: 20px;
  margin: 40px auto;
  max-width: 1300px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}
.about h2 {
  color: #c9a227;
  font-size: 32px;
  margin-bottom: 20px;
}
.about {
  background-color: #fffaf4;
  padding: 50px 20px;
  text-align: center;
}
.about p {
  margin: auto;
  font-size: 18px;
  color: #0f0f0fee;
  font-family: "Georgia", serif;
  line-height: 1.6;
  padding: 20px;
  word-spacing: 0.2em;
  letter-spacing: 0.1em;
}
.icon {
  font-size: 40px;
  margin-bottom: 10px;
}
.review-con {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.review {
  max-width: 300px;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.review:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

.review h4 {
  margin-left: 20px;
  color: #4b1e1e;
  font-style: normal;
}
.review p {
  color: #555;
  margin-bottom: 10px;
  font-style: italic;
  padding: 5px;
}
.stars {
  font-size: 22px;
  color: gold;
  margin-bottom: 10px;
}
.reserve-btn {
  display: inline-block;
  padding: 15px 35px;
  background: rgba(245, 16, 47);
  color: #d3c9cc;
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
  font-size: 20px;
}
.reserve {
  text-align: center;
}
.reserve h2 {
  color: #c9a227;
  margin-bottom: 30px;
  font-size: 32px;
}
.reserve p {
  font-size: 18px;
  padding: 5px;
  font-family: "Georgia", "Times New Roman", serif;
  word-spacing: 0.1em;
  margin-bottom: 20px;
  color: #332828;
}

.reserve-btn:hover {
  background: rgb(206, 24, 48);
}
.footer {
  margin-top: 30px;
  background-color: #2b0f0f;
  color: #f5d38a;
  padding: 40px 20px 20px;
  font-family: Arial, sans-serif;
  bottom: 0;
}

.footer-con {
  display: flex;
  gap: 40px;
  max-width: 1300px;
  margin: auto;
}

.footers h3,
.footers h4 {
  margin-bottom: 12px;
  color: #ffd700;
  font-size: 19px;
}

.footers p {
  font-size: 15px;
  padding: 5px;
  margin-left: 10px;
}

.footers ul {
  list-style: none;
  padding: 0;
}

.footers ul li {
  margin-bottom: 8px;
}

.footers ul li a {
  color: #f5d38a;
  text-decoration: none;
  transition: color 0.3s;
}

.footers ul li a:hover {
  color: #ffffff;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 15px;
  font-size: 14px;
}
.rating {
  font-size: 15px;
  color: #f4b400;
  margin-bottom: 6px;
}

.rating span {
  color: #555;
  font-size: 15px;
}
.dish .price {
  font-size: 23px;
  margin-bottom: 8px;
}

.dish del {
  color: #888;
  font-size: 16px;
  margin-left: 6px;
}

.dish strong {
  color: #fd8803;
  font-size: 18px;
  margin-left: 6px;
  font-weight: bold;
  border-radius: 15px;
  border: 1px solid #555;
  padding: 5px;
}

.order-btn {
  background-color: #200a0a;
  color: gold;
  border: none;
  padding: 15px 25px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  display: block;
  margin: auto;
}

.order-btn:hover {
  background-color: #4b1e1e;
}
.dish .price {
  margin-top: 16px;
}
>>>>>>> 223ab916caebe90f65c9d6f370a18d134b2ec541
