* {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(248, 142, 2);
  font-size: 26px;
}
input[type="search"] {
  width: 500px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}

header nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  color: black;
}
header nav ul li a {
  text-decoration: none;
}
li a:hover {
  background: white;
  border-radius: 5px;
  padding: 10px;
}
header nav ul li a:visited {
  color: red;
}
header nav ul li a:link {
  color: black;
}
.signup:hover {
  background-color: rgb(240, 174, 7);
}

main,
footer {
  width: 100%;
  padding-left: 20px;
  padding-top: 50px;
}

.container {
  width: 1300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.signup {
  background-color: goldenrod;
  color: black;
  font-size: 20px;
  padding: 20px;
  margin-right: 30px;
  border: none;
  border-radius: 5px;
}
.breakfast-container {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}
.text {
  text-align: center;
  color: darkolivegreen;
}
.breakfast {
  border-radius: 10px;
  background-color: lightgray;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.651);
}
.breakfast img {
  width: 200px;
  height: 200px;
}
h1 {
  color: crimson;
}
footer {
  padding-top: 10px;
  bottom: 0;
  background-color: black;
  color: white;
  height: 80px;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  font-size: 20px;
}
.logo {
  padding-right: 22px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.text a h3:hover {
  text-decoration: solid black;
}
